body {
    background: linear-gradient(rgb(81, 180, 241) ,rgb(44, 137, 237),rgb(0, 123, 255));
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    height: 96vh;
    
}
.temp{
    margin-top: 5%;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
 h1{
   position: relative;
   padding-top: 5%;
   margin-left: 39%;
}
.converter-container {
    text-align: center;
    padding: 55px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    box-shadow: 10px 10px 5px  rgb(45, 44, 44);
    height: 200px;
   
}
label {
    display: block;
    margin-bottom: 5px;
    
}
input {
    margin-bottom: 15px;
    width: 280px;
    font-size: 16px;
    padding: 8px;
}
select, button{
    margin-bottom: 15px;
    padding: 8px;
    width: 130px;
    font-size: 17px;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: #3cae42;
}
@media screen and (max-width: 1200px) {
    body {
       
        text-align: center;
    }

    .temp {
        margin-top: 10%;
    }

    h1 {
        margin-left: 0;
    }

    .converter-container {
        padding: 15px;
    }
}

